body {
  font-family: 'Source Serif Pro', serif;
  background-color: black;
  color: white;
}

section {
  background-color: yellow;
  color: black;
  margin: 0 auto;
  width: 90%;
  padding: 1em;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
  padding-bottom: 0px;
  padding-bottom: 0px;
}

footer p {
  margin-top: 5px;
  margin-bottom: 0px;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 200;
}

.btn.btn-secondary.btn-lg.active {
  background-color: black;
}