header {
    font-size: 20px;
}
nav-brand {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

#end {
    margin-bottom: 10px;
}

#ulend {
    margin-bottom: 0px;
}

section{
    border: 0px;
    margin: 0px;
}

header {
    margin: 0px;   
}
